In [2]:
import pandas

In [3]:
data = None
with open("highway_data.csv") as f:
  data = pandas.read_csv(f)

In [4]:
import pandera as pa
from pandera import Column, Check

In [5]:
crash_df = data[data["Record Type"] == 1]
vehicle_df = data[data["Record Type"] == 2]
people_df = data[data["Record Type"] == 3]

In [6]:
crash_schema = pa.DataFrameSchema(
    {
      "Crash ID": Column(int, unique=True), 
      "Record Type": Column(int, Check.in_range(1,3)),
      "Crash Year": Column(int, Check.eq(2019), coerce=True)
    }
)
crash_schema.validate(crash_df)

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
0,1809119,1,NaN,NaN,NaN,NaN,NaN,99992.0,3.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1809229,1,NaN,NaN,NaN,NaN,NaN,2405.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1809637,1,NaN,NaN,NaN,NaN,NaN,1811.0,5.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1810874,1,NaN,NaN,NaN,NaN,NaN,99981.0,4.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1812266,1,NaN,NaN,NaN,NaN,NaN,5970.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2716,1860371,1,NaN,NaN,NaN,NaN,NaN,3344.0,4.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2719,1860417,1,NaN,NaN,NaN,NaN,NaN,3385.0,4.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2724,1860427,1,NaN,NaN,NaN,NaN,NaN,3396.0,4.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2729,1860453,1,NaN,NaN,NaN,NaN,NaN,3423.0,4.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,1860771,1,NaN,NaN,NaN,NaN,NaN,1465.0,5.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
all([x is None or x >= 0 and y >= 0 for (x,y) in list(zip(crash_df["Latitude Degrees"],crash_df["Latitude Minutes"]))])

True

In [28]:
assert all([x in crash_df["Crash ID"].values for x in vehicle_df["Crash ID"].values])

In [45]:
counties = list(crash_df["County Code"].values)
(counties.count(3) + counties.count(26) + counties.count(34)) / len(counties)

0.9429133858267716